@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Creepster&display=swap');

*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body{
  background-color: yellow;
}


body#Elsagate{
  background-color: black;
  background-image: linear-gradient(yellow,yellow,black,black);
  display: block;
  text-align: center;
  margin-top: 50px;
}

#creepyElsa1{
  font-size: 60px;
  color: red;
  font-weight: bold;
  font-family: 'Bangers', cursive;
}

#whatIsElsagate{
  color:red;
  display: block;
  text-align: center;
  font-size: 50px;
  margin-bottom: 100px;
/* font-family: 'Roboto', sans-serif; */
}

#youtubeResponse{
  color: red;
  display: block;
  text-align: center;
  font-size: 50px;
  margin-bottom: 100px;
  /* font-family: 'Roboto', sans-serif; */
}

#aftermath{
  color: red;
  display: block;
  text-align: center;
  font-size: 50px;
  margin-bottom: 100px;
  /* font-family: 'Roboto', sans-serif; */
}
/* .imageContainer div{
  margin: auto;
  text-align: center;
}


.imageContainer{
    width: 600px;
    margin: auto;
    display: flex;
    justify-content: center;
    overflow-x: hidden;
}

.images{
  display: flex;
  width: 100%;
  animation: slide 16s infinite;
} */

.mySwiper {
  width: 600px;
  margin: auto;
}

.swiper-slide {
  align-self: center;
}

@keyframes slide{
    0%{
        transform: translateX(0);
    }
    25%{
        transform: translateX(-100%);
    }
    50%{
        transform: translateX(-200%);
    }
    75%{
        transform: translateX(-300%);
    }
    100%{
        transform: translateX(-400%);
    }
}

img{
  width: 100%;
}

@keyframes clickbaitTextColors {
  0% {
    color: green;
  }
  20% {
    color: blue;
  }
  40% {
    color: red;
  }
  60% {
    color: orange;
  }
  80% {
    color: purple;
  }
  100% {
    color: green;
  }
}

.floatingText{
  font-family: 'Bangers', cursive;
  font-size: 7.5vmin;
  display: flex;
  justify-content: space-between;
  -webkit-text-stroke: 1px black;
  animation: clickbaitTextColors 10s ease infinite;
}

.floatingText02{
  font-family: 'Bangers', cursive;
  font-size: 10.5vmin;
  display: flex;
  justify-content: space-between;
  -webkit-text-stroke: 2px black;
   /* text-shadow: 2px 2px 8px #FF0000; */
  animation: clickbaitTextColors02 10s ease infinite;
}

marquee a {
  text-decoration: none;
}

.button2{
  display: block;
  text-align: center;
  color:red;
  margin-bottom: 100px;
  text-decoration: none;
}

.button2:hover{
  cursor:url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='100' height='48' viewport='0 0 100 100' style='fill:black;font-size:24px;'><text y='50%'>🕷️❤️❄️</text></svg>") 16 0,auto; /*!emojicursor.app*/
  background-color: black;
  color: yellow;
}

.hoverClickable {
  transition: text-shadow 0.1s;
  animation: clickbaitTextColors03 10s ease infinite;
}

.hoverClickable:hover {
  /* text-shadow: 2px 2px 18px red; */
  text-shadow: red 1px 0 10px;
}

@keyframes clickbaitTextColors02{
  0% {
    color: red;
  }
  20% {
    color: orange;
  }
  40% {
    color: green;
  }
  60% {
    color: blue;
  }
  80% {
    color: red;
  }
  100% {
    color: purple;
  }
}


.floatingText03{
  font-family: 'Bangers', cursive;
  /* font-family: 'Anton', sans-serif; */
  font-size: 7vmin;
  display: flex;
  justify-content: space-between;
  -webkit-text-stroke: 2px black;
  animation: clickbaitTextColors03 10s ease infinite;
}

@keyframes clickbaitTextColors03{
  0% {
    color: purple;
  }
  20% {
    color: green;
  }
  40% {
    color: orange;
  }
  60% {
    color: red;
  }
  80% {
    color: blue;
  }
  100% {
    color: green;
  }
}

#popupContainer {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
  z-index: +99;
  pointer-events: none;
}

.popupMessage {
  width: max-content;
  /* background-color: #fff; */
  padding: 5px;
  position: absolute;
  pointer-events: none;
}

.popupMessage{
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  background-color: #fff;
  /* border-radius: 6px; */
  box-shadow: 0 2px 2px black;
  color: black;
  margin-bottom: 12px;
  line-height: 1.4;
}


/* .videoContent{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 5px;
  padding-left: 40px;
  padding-right: 40px;
  margin-top: 50px;
} */
/*
.videoContent{
  display: grid;
  grid-template-columns: repeat(4, 25%);
  grid-auto-rows: 100px;
  gap: 10px
} */

.videoContent{
  display: inline-grid;
  grid-template-columns: 450px 400px 400px;
  /* background-color: #2196F3; */
  padding: 10px;
  gap:2px;
}

#animatedELSA{
  /* color: blue; */
  text-shadow: text-shadow: 1px 1px 2px red, 0 0 1em blue, 0 0 0.2em blue;
}


.animatedElsaVideo{
  display: block;
  margin: auto;
}

/* .videoClip{
  flex: 1;
  text-align: center;
} */
